<mat-card>
  <h1>Add New Category</h1>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form>
            <mat-form-field class="w100" appeareance="outline">
              <mat-label>Title</mat-label>
              <input
                type="text"
                name="title"
                matInput
                placeholder="Enter title"
                [(ngModel)]="category.title"
              />
            </mat-form-field>
            <mat-form-field class="w100" appeareance="outline">
              <mat-label>Description</mat-label>
              <textarea
                type="text"
                name="description"
                matInput
                placeholder="Enter description"
                rows="5"
                [(ngModel)]="category.description"
              ></textarea>
            </mat-form-field>
            <div class="container text-center mt20">
              <button (click)="addCategory()" mat-raised-button color="primary">
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
