<mat-card class="text-center">
  <h1>Add New Quiz</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form (ngSubmit)="addQuiz()">
          <mat-form-field class="w100">
            <mat-label>Title</mat-label>
            <input
              [(ngModel)]="quizData.title"
              type="text"
              matInput
              name="title"
              placeholder="Enter title"
            />
          </mat-form-field>

          <mat-form-field class="w100">
            <mat-label>Description</mat-label>
            <input
              type="text"
              matInput
              [(ngModel)]="quizData.description"
              name="description"
              placeholder="Enter description"
            />
          </mat-form-field>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="w100">
                <mat-label>Max Marks</mat-label>
                <input
                  type="text"
                  matInput
                  [(ngModel)]="quizData.maxMarks"
                  name="maxMarks"
                  placeholder="Enter max Marks"
                />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w100">
                <mat-label>No. Of Questions</mat-label>
                <input
                  type="text"
                  matInput
                  [(ngModel)]="quizData.numberOfQuestions"
                  name="numberOfQuestions"
                  placeholder="Enter No.Of Questions"
                />
              </mat-form-field>
            </div>
          </div>
          <mat-form-field class="w100">
            <mat-label>Category</mat-label>
            <mat-select name="category" [(ngModel)]="quizData.category.cid">
              @for(category of categories;track category){
              <mat-option [value]="category.cid">{{
                category.title
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <div class="text-center">
            <button mat-raised-button type="submit" color="primary">
              Add Quiz
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
